<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <title>Tegu - An HTML5 Guitar Tuner</title>
    </head>

    <body class="{{ deeplink_class }}">

        <main class="main">
            <audioProcessor></audioProcessor>
            <audioPresentation></audioPresentation>
        </main>

        <!--<script async src="/js/core.js"></script>-->
        <script type='text/javascript' src='../js/audioProcessor.js'></script>
        <script type='text/javascript' src='../js/audioPresentation.js'></script>
        <script type="text/javascript">
          var audioProcessor = new AudioProcessor();
          audioProcessor.created();
          audioProcessor.requestUserMedia();
        </script>

        <p>It sounds like you're playing...</p>
        <h1 id="note"></h1>
        <p>
            <span>frequency (Hz):</span>
            <span id="frequency"></span>
            <span>octave:</span>
            <span id="octave"></span>
        </p>
        <hr>
    </body>

</html>
